#body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(335, 51%, 75%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 18%, 97%);
    color: rgb(14, 13, 13);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    order: none;
    background-color:hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:hsl(333, 67%, 73%);
}
button:active{
    background-color:hsl(329, 71%, 73%);
}
.operator-btn{
    background-color:hsl(330, 77%, 73%);
}
.operator-btn:hover{
    background-color:hsl(240, 89%, 78%);
}
.operator-btn:active{
    background-color:hsl(225, 81%, 77%);
}
